.App {
  text-align: center;
}
.Objetivo {
  font-weight: bold;
  margin-top: 30px;
}
.format {
  margin-top: 50px;
  background-color: #c7c7c7;
  border-style: groove;
  margin-left: 120px;
  margin-right: 120px;
}
.list {
  text-align: justify;
  margin-left: 150px;
}
.space {
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
